h1 {
   color: teal;
   border-style: solid;
   border-width: 1px;
   border-color: teal;
}

p.important {
 width: 75%;
}

img {
 border-style:dashed;
 border-color: orange;
 border-width: 3px;

}

p {
 color: orange;
}
.purple-text {
 color: purple;
}
body {
 background-color: dodgerblue;
}

.purple-text {
 color: rgb(0,0, 255, .5);
}

.important {
 font-weight: bold;
}
#lead-paragraph {
  color: purple;
  font-weight: bold;
}

.important:hover {
 background-color:#0000FF;
}

a[href="https://zappcomics.com/?srsltid=AfmBOoo9GEJ9BoTDocSOvA0AT9SayYxm6lG5jD3iWrbhL8SERsZkphuL/"] {
 background-color: orange;
 padding: 1rem;
}
a[href="https://www.nba.com/heat/"] {
 background-color: blue;
}
